@page
@using Packt.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.CustomerPageModel

<div class="row">
    <h1>Just Checking</h1>
    <h1 class="display-2">@Model.Customer.CompanyName</h1>
</div>
