<!--Supposed to be a using statement in here according to the book (pg.603) but it just seems to display the using statement on screen?
    Taking it out dosent cause any issues...
-->

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model?.LastName, @Model?.FirstName</div>
    <div class="card-body text-dark">
        <h5 class="card-title">@Model?.Country</h5>
        <p class="card-text">@Model?.Notes</p>
    </div>
</div>
